.box {
  border: 2px solid black;
}

body{
  background-size: cover;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz-oz97gJ4YOppWp94_1UIRXldFxHx5rh21A&usqp=CAU)
}

.text-box {
  text-align: center;
  font-style: oblique;
}

.demo {
  display: none;
}

.flex-container {
  height: 300px;
  display: flex;
  /* How the items are ordered */
  flex-direction: row;
  /* positioning the items */
  justify-content: space-between;
  /* positioning the items in a different way, might take some trial and error */
  align-items: center;
  padding: 10px;
  /* background-color: blanchedalmond; */
}
.flex-item {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links {
  height: 200px;
  display: flex;
  /* How the items are ordered */
  flex-direction: column;
  /* positioning the items */
  justify-content: space-between;
  /* positioning the items in a different way, might take some trial and error */
  align-items: left;
  padding: 10px;
  background-color: blanchedalmond;
}

.link-item {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.quote {
  font-style: italic;
}