.quote{
    font-style: italic;
    color: red;
    text-align: center;
}
.sportsball {
    font-weight: bold;
    text-align: center;
}

.thelist {
    text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}